// Place all the styles related to the Snapshot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  color: #000000;
  text-align: center;
}

div[class="80_up"] {
  color: #FFFFFF;
  background-color: #FF6800;
}

div[class="70_80"] {
  background-color: #FF870F;
}

div[class="60_70"] {
  background-color: #FFB061;
}

div[class="50_60"] {
  background-color: #FFD9B3;
}

div[class="40_50"] {
  background-color: #FFF9F3;
}

div[class="30_40"] {
  background-color: #E6E6FF;
}

div[class="20_30"] {
  background-color: #BEBEFF;
}

div[class="under_20"] {
  background-color: #A2A2FF;
}
