// Place all the styles related to the Snapshot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  color: #000000;
  text-align: center;
}

.80_up {
  background-color: #FF6800;
}

.70_80 {
  background-color: #FF870F;
}

.60_70 {
  background-color: #FFB061;
}

.50_60 {
  background-color: #FFD9B3;
}

.40_50 {
  background-color: #FFF9F3;
}

.30_40 {
  background-color: #E6E6FF;
}

.20_30 {
  background-color: #BEBEFF;
}

.under_20 {
  background-color: #A2A2FF;
}
